
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg,rgb(255, 255, 255),rgb(167, 223, 242))fixed; 
    padding: 50px;
}
.container-heading{
    color: rgb(16, 11, 11);
    font-size: 52px;
    font-weight: 200;
    text-align: center;
    text-shadow: 1px 0px 5px rgb(1, 1, 48) ;
}
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
.card{
    width: 250px;
    height: auto;
    position: relative;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    padding: 20px;
    transition:all .3s ease-in;
}
.card > *{
    padding: 10px;

}
.card .card-img{
    height: 150px;
    width: 150px;
    border: 5px double rgb(16, 13, 69);
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
margin-left: 27px;
}
.card .card-title{
    padding: 20px 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 1px 0px 2px rgb(16, 16, 59);
   

    text-align: center;
  
}
.card .card-text{
    line-height: 20px ;
    text-align: center;
}
.card:nth-child(1) .card-img{
    background-image: url(images/scott-graham-5fNmWej4tAA-unsplash.jpg);
}
.card:nth-child(2) .card-img{
    background-image: url(images/milan-popovic-sw1AJnAlZ70-unsplash.jpg);
}
.card:nth-child(3) .card-img{
    background-image: url(images/ux-indonesia-0lwrK7v3jNk-unsplash.jpg);
}